<div class="hero-banner">
	<img class="hero-banner__image" src="{{ banner_image }}" alt="{{ banner_image_alt }}"/>
	<div class="hero-banner__content">
		<div class="hero-banner__text">{{ banner_text }}</div>
		<a class="hero-banner__link button" href="{{ banner_link_src }}">{{ banner_link_title }}</a>
	</div>
</div>
