<div {{attributes}} class="callout callout--{{ callout_type }}">
	<div class="callout__icon">
		<span class="visually-hidden">{{ callout_icon_label }}</span>
		<i class="fas {{ callout_icon }}"></i>
	</div>
	<div class="callout__body">
		{{ callout_body }}
	</div>
</div>
