<li class="social-media__item social-media__item--{{ social_link.name }} social-media__item--{{ loop.index }}" >
  <a href="{{ social_link.url }}" title="{{ social_link.name }} profile link.">
    <i class="{{ social_link.prefix }} fa-fw fa-lg fa-{{ social_link.icon }}"></i>
  </a>
</li>