<details{{ attributes }} class="details-item">
  {%
    set summary_classes = [
      required ? 'js-form-required',
      required ? 'form-required',
    ]
  %}
  {%- if title -%}
    <summary{{ summary_attributes.addClass(summary_classes) }} class="summary" >
      {{ details_summary }}
    </summary>
  {%- endif -%}

  {% if errors %}
    <div>
      {{ errors }}
    </div>
  {% endif %}
  <div class="details__inner">
    {{ details_content }}
  </div>
</details>