{#
/**
 *
 * Pattern for the card molecule
 *
 * Available variables:
 * - card_modifiers: array of modifiers to add to the base classname
 * - card_size: card size, either small, medium or large
 * - card_extra_classes: string of extra classes to add to main div
 * - card_image: url for the card's header image
 * - card_title: text string for the card's title
 * - card_text: text string for the card's content
 * - card_button_content: text string for the button label
 * - card_button_modifiers: modifiers for the button class, defaults to "alt"
 *
 */
#}

{% set card_base_class = card_base_class|default('card') %}
{% set classes_array = [card_base_class] %}

{% if (card_modifiers is defined) or (card_size is defined)  %}
	{% if card_modifiers is defined %}
		{% for card_modifier in card_modifiers %}
			{% set classes_array = classes_array|merge(["#{card_base_class}--#{card_modifier}"]) %}
		{% endfor %}
	{% endif %}
	{% set card_classes = classes_array|join(' ') %}
	{% if card_size is defined %}
		{% set classes_array = classes_array|merge(["#{card_base_class}--#{card_size}"]) %}
	{% endif %}
	{% set card_classes = classes_array|join(' ') %}
{% else %}
	{% set card_classes = card_base_class %}
{% endif %}

<div class="{{ card_classes }} {{ card_extra_classes }}">
	<img class="card__image" alt="Card Image" src="{{ card_image }}"/>
	<div class="{{card_base_class}}__inner">
		<h2 class="card__title">{{ card_title }}</h2>
		<p class="card__content">{{ card_text }}</p>
		<button class="button" href="#">Card Button</button>
	</div>
</div>
