<a href="#main-content" class="skip-link">
	{{ 'Skip to main content'|t }}
</a>

<header role="banner">
	{% include "@organisms/osu-navbar/_osu-navbar.twig" %}
	{% include "@organisms/masthead/_masthead.twig" %}
</header>

{% block primary_menu %}
	{{ page.primary_menu }}
{% endblock %}

{% block hero %}
	{{ page.hero }}
{% endblock %}

{% block breadcrumb %}
	{{ page.breadcrumb }}
{% endblock %}

{% block system %}
	{{ page.system }}
{% endblock %}

{% block tabs %}
	{{ page.tabs }}
{% endblock %}

<div class="layout__wrapper layout__wrapper--main">
	<div class="grid-container">
		<div class="main__inner grid-x grid-margin-x">

			{% if page.sidebar_1 %}
				<aside class="sidebar sidebar--1 cell small-12 medium-3" role="complementary">
					<div class="sidebar__inner sidebar__inner--1">
						{% block sidebar_1 %}
							{{ page.sidebar_1 }}
						{% endblock %}
					</div>
				</aside>
			{% endif %}

			<main id="main-content" class="content cell small-12 medium-auto">
				{% block content %}
					{{ page.content }}
				{% endblock %}
			</main>

			{% if page.sidebar_2 %}
				<aside class="sidebar sidebar--2 cell small-12 medium-3" role="complementary">
					<div class="sidebar__inner sidebar__inner--2">
						{% block sidebar_2 %}
							{{ page.sidebar_2 }}
						{% endblock %}
					</div>
				</aside>
			{% endif %}

		</div>
	</div>
</div>

{% block content_after %}
	{{ page.content_after }}
{% endblock %}


<footer role="contentinfo">
	{% block pre_footer %}
		{{ page.pre_footer }}
	{% endblock %}

	{% include "@organisms/site-footer/_site-footer.twig" %}
</footer>
