<header role="banner">
  {% include "@organisms/osu-navbar/_osu-navbar.twig" %}
  {% include "@organisms/masthead/_masthead.twig" %}
</header>

<div class="layout__wrapper layout__wrapper--primary-menu clearfix">
  <div class="layout__inner layout__inner--primary-menu grid-container">
    {{ page.primary_menu }}
  </div>
</div>

<div class="layout__wrapper layout__wrapper--hero clearfix">
  <div class="layout__inner layout__inner--hero grid-container">
    {{ page.hero }}
  </div>
</div>

<div class="layout__wrapper layout__wrapper--breadcrumb clearfix">
  <div class="layout__inner layout__inner--breadcrumb grid-container">
    {{ page.breadcrumb }}
  </div>
</div>

<div class="layout__wrapper layout__wrapper--system clearfix">
  <div class="layout__inner layout__inner--system grid-container">
    {{ page.system }}
  </div>
</div>

<div class="layout__wrapper layout__wrapper--main clearfix">
  <main role="main">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

    <div class="grid-container">
      <div class="main__inner grid-x">

      <div class="content cell auto">
        {{ page.tabs }}
        {{ page.content }}
      </div>

      {% if page.sidebar %}
        <aside class="sidebar cell auto medium-3" role="complementary">
          {{ page.sidebar }}
        </aside>
      {% endif %}

      </div>
    </div>

    {{ page.content_after }}

  </main>
</div>

<footer role="contentinfo">
  {% include "@organisms/site-footer/_site-footer.twig" %}
</footer>