{#
/**
 *
 * Pattern for the infobox molecule
 *
 * Available variables:
 * - infobox_modifiers: array of modifiers to add to the base classname.
 * - infobox_extra_classes: string of extra classes to add to main div.
 * - infobox_heading_level: defaults to 2, use '0' for no header element.
 * - infobox_title: title.
 * - infobox_text: the content of the paragraph(s).
 *
#}

{% set infobox_base_class = infobox_base_class|default('info-box') %}
{% set classes_array = [infobox_base_class] %}

{% if infobox_modifiers is defined %}
	{% for infobox_modifier in infobox_modifiers %}
		{% set classes_array = classes_array|merge(["#{infobox_base_class}--#{infobox_modifier}"]) %}
	{% endfor %}
	{% set infobox_classes = classes_array|join(' ') %}
{% else %}
	{% set infobox_classes = infobox_base_class %}
{% endif %}

<div class="{{ infobox_classes }} {{ infobox_extra_classes }}">
	<div class="info-box__title">
		{% if infobox_heading_level == 0 %}
			{{ infobox_title }}
		{% else %}
			<h{{infobox_heading_level}}>{{ infobox_title }}</h{{infobox_heading_level}}>
		{% endif %}
	</div>
	<div class="info-box__body">
		{{ infobox_text }}
	</div>
</div>
