{#
/**
 * Available variables:
 * - tile_modifiers - array of modifiers to add to the base classname
 * - tile_extra_classes - string of extra classes to add to main div
 * - tile_heading_level - defaults to 2, use '0' for no header element.
 * - tile_title - title.
 * - tile_link - link from title (leave blank for no link).
 * - tile_text - the content of the paragraph.
#}

{% set tile_base_class = tile_base_class|default('tile') %}
{% set classes_array = [tile_base_class] %}


{% if (tile_icon is defined) or (tile_color is defined) or (tile_modifiers is defined) or (tile_text is null) %}

	{% if tile_icon is defined %}
		{% set classes_array = classes_array|merge(["#{tile_base_class}--with-icon"]) %}
	{% endif %}

	{% if tile_color is defined %}
		{% set classes_array = classes_array|merge(["#{tile_base_class}--#{tile_color}"]) %}
	{% endif %}

	{% if tile_modifiers is defined %}
		{% for tile_modifier in tile_modifiers %}
			{% set classes_array = classes_array|merge(["#{tile_base_class}--#{tile_modifier}"]) %}
		{% endfor %}
	{% endif %}

	{% if tile_text is null %}
		{% set classes_array = classes_array|merge(["#{tile_base_class}--title-only"]) %}
	{% endif %}

	{% set tile_classes = classes_array|join(' ') %}

{% else %}
	{% set tile_classes = tile_base_class %}
{% endif %}


<a href="{{ tile_link }}" class="{{ tile_classes }} {{ tile_extra_classes }}">

	{% if tile_icon_src %}
		<div class="tile__icon">
			<img src="{{ tile_icon_src }}" alt="{{ tile_icon_alt }}"/>
		</div>
	{% endif %}

	{% if tile_title %}
		<div class="tile__title">
			{% if tile_heading_level == 0 %}
				{{ tile_title }}
			{% else %}
				<h{{tile_heading_level}}>{{ tile_title }}</h{{tile_heading_level}}>
			{% endif %}
		</div>
	{% endif %}

	{% if tile_label %}
		<div class="tile__label">{{ tile_label }}</div>
	{% endif %}

	{% if tile_text %}
		<div class="tile__text">{{ tile_text }}</div>
	{% endif %}
</a>
