{% if pl %}
	{% if footer_text %}
		{% set has_footer_text = 1 %}
	{% endif %}
{% endif %}

<footer id='site-footer' class='site-footer site-footer--{{ footer_color }}'>
	<div class='site-footer__inner grid-container'>

		<div class='site-footer__social-media'>
			{% include "@molecules/social-media-links/social-media-links.twig" %}
		</div>

		<div class='site-footer__address-block'>
			{% include "@molecules/address-block/address-block.twig" %}
		</div>

		<div class='site-footer__ada-statement'>
		{% if default_ada_statement == 1 %}
			<p>If you have a disability and experience difficulty accessing this content, please call the Accessibility Helpline at
				<a href='tel:6142925000'>614-292-5000</a>.</p>
		</div>
		{% else %}
			{{ ada_statement_text }}
		{% endif %}

		{% if privacy_statement %}
		<div class='site-footer__privacy-statement'>
			<a href='{{ privacy_statement }}' target='_blank'>Privacy Statement</a>
		</div>
		{% endif %}

		{% if non_discrimination_notice %}
		<div class='site-footer__non-discrimination-notice'>
			<a href='{{ non_discrimination_notice }}' target='_blank'>Non-discrimination Notice</a>
		</div>
		{% endif %}

		{% if has_footer_text %}
			<div class='site-footer__footer-text'>
				<p>{{ footer_text }}</p>
			</div>
		{% endif %}

		{# show admin_link for Drupal sites if selected and user is not logged in #}
		{% if admin_link == 1 %}
			{% if not logged_in %}
				<div class='site-footer__login-link'>
					<a href='/user/login'>Admin Login</a>
				</div>
			{% endif %}
		{% endif %}

	</div>
</footer>
